.channel-sidebar {
  // transition: background 1s ease-in-out;
  // -webkit-transition: background .25s ease-in-out;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

.channels-container {
  width: 220px;
  background: rgba(white, .40);
  height: calc(100vh - 13px);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  padding-top: 13px;
  display:inline-block;
}

.channel-header {
  text-transform: capitalize;
  padding-left: 16px;
  padding-bottom: 10px;
}
.channels {
  line-height: 1.6rem;
}

.channel {
  font-family: "Slack-Lato", "appleLogo" ,sans-serif;
  font-size: 1rem;
  padding-left: 16px;
  padding-right: 4px;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-right: 1rem;
}

.channel button {
  float:right;
}

.channel:hover {
  background: rgba(#555459, .20);

}

.current-channel {
  font-family: "Slack-Lato", "appleLogo" ,sans-serif;
  font-size: 1rem;
  padding-left: 16px;
  padding-right: 4px;
  background: rgba(#555459, .50);
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-right: 1rem;
}

.current-channel button {
  float:right;
}

// .channel-sidebar:hover {
//     // background: #000;
//     }
