.channel-sidebar {
  // transition: background 1s ease-in-out;
  // -webkit-transition: background .25s ease-in-out;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

.channels-container {
  width: 220px;
  background: rgba(white, .40);
  height: calc(100vh - 13px);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  padding-top: 13px;
  display:inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
}

.channel-header {
  text-transform: capitalize;
  padding-left: 16px;
  padding-bottom: 10px;
}

.channel-subscribe-modal-button, .channel-dm-modal-button {
  font-size: .8rem;
  font-weight: bold;
  color: #39383c;
  font-family: "Slack-Lato", "appleLogo" ,sans-serif;
  margin-left: 16px;

}

.channel-subscribe-modal-button:hover {
  color: #000;
}

.channel-dm-modal-button:hover {
  color: #000;
}

.channels {
  line-height: 1.6rem;
  overflow-x: hidden;
}

.channel {
  font-family: "Slack-Lato", "appleLogo" ,sans-serif;
  font-size: 1rem;
  padding-left: 16px;
  padding-right: 4px;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-right: 1rem;
  word-break: keep-all;
  white-space: nowrap;
  width: 150px;
  float: left;
  overflow-x: hidden;
}

.noti-channel {
  font-family: "Slack-Lato", "appleLogo" ,sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 16px;
  padding-right: 4px;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-right: 1rem;
  word-break: keep-all;
  white-space: nowrap;
  width: 150px;
  float: left;
  overflow-x: hidden;
}

.channels button {
  // text-align: right;
  float:right;
  color: #afafaf;
  width: 15px;
  position: absolute;
  right: 10px;
  // text-align: right;
}

.channel:hover {
  background: rgba(#555459, .20);

}

.current-channel {
  font-family: "Slack-Lato", "appleLogo" ,sans-serif;
  font-size: 1rem;
  padding-left: 16px;
  padding-right: 4px;
  background: rgba(#555459, .50);
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-right: 1rem;
  word-break: keep-all;
  white-space: nowrap;
  width: 150px;
  float: left;
  overflow-x: hidden;
}

.current-channel button {
  float:right;
}

.ReactTags_tags {
  // background: #3aa3e3;
}

.ReactTags__tagInput input {
  display: block;
  width: 70%;
  color: #555459;
}

// .ReactTags__tagInput input {
//   flex-shrink: 1;
// }

.ReactTags__selected {
  width: calc(100% - 100px);
  float: left;
  border: 1px solid #c5c5c5;
  border-radius: .25rem;
  padding: 12px 12px 12px 12px;
  font-family: "Slack-Lato",sans-serif;
  line-height: 1.5rem;
  font-size: 1.125rem;
}

.ReactTags__tag {
  background: #3aa3e3;
  border-radius: .2rem;
  float: left;
  color: #fff;
  font-size: .9375rem;
  padding-left: .5rem;
  padding-right: .5rem;
  margin-right: .375rem;
}

.ReactTags__suggestions {
  background: #fff;
}

.ReactTags__suggestions li {
  display: block;
  background: #fff;
  height: 2rem;
  padding-left: 10px;
  padding-right: .75rem;
  padding-top: .6875rem;
  cursor: pointer;
  width: calc(100% - 20px);

}

.ReactTags__suggestions li:hover {
  background: #edf7fd;
  border: 1px solid #d3ecfa;
  border-radius: 6px;
}

.ReactTags__suggestions li mark {
  background: rgba(#000000, .1);
}

.ReactTags__remove {
  margin-left: 5px;
}

.dm-disable {
  display: block;
  margin: 0 auto;
  text-align: center;
  background: #555459;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  color: #fff;
  border-radius: 3%;
  margin-bottom: 10px;
  font-family: "Slack-Lato",sans-serif;
}

.dm-enable {
  display: block;
  margin: 0 auto;
  text-align: center;
  background: #2ab27b;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  color: #fff;
  border-radius: 3%;
  margin-bottom: 10px;
  font-family: "Slack-Lato",sans-serif;
}

.subscribe-channels-container {
  overflow-y: hidden;
  overflow-x: scroll;
  color: #555459;
}

.subscribe-channel {
  border-top: 1px solid #e8e8e8;
  font-size: 16px;
  padding: 12px 0 12px 10px;
  width: calc(100% - 13px);
  font-family: "Slack-Lato",sans-serif;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

.subscribe-channel-link {
  width: 100%
}

.sub-created_at {
  color: #9e9ea6;
  font-family: "Slack-Lato",sans-serif;
  line-height: 19.6px;
  font-style: italic;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5rem;
  font-size: 14px;
  font-weight: lighter;
}

.sub-created_at li {
  float: left;
}

.creator {
  color: #67686e;
  margin: 0 3px 0 3px;
}

// .channel-sidebar:hover {
//     // background: #000;
//     }
