.header {
  border-bottom: 1px solid #e7e7e7;
}

.navbar {
  float: right;
  width: 200px;
  margin: 5px 10px 10px 0;
}

.modal-button {
  float: right;
  font-family: "Lucida Grande", sans-serif;
  border: 2px solid #666f77;
  border-radius: 10%;
  padding: 8px 10px 10px 10px;
}

.header h1 {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Lato',sans-serif;
  color: #2c3239;
  float: left;
  margin: 11px 0 0 16px;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.login-form-box {
  min-width: 385px;
  min-height: 300px;
}

.welcome {
  font-size: 36px;
  color: #555459;
  text-align: center;
}

.please-login {
  font-size: 12px;
  color: #555459;
  text-align: center;
}

.login-input {
  text-align: left;
  display: block;
  min-width: 150px;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #c5c5c5;
  border-radius: 3%;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 5px;
}

.login-submit {
  display: block;
  min-width: 150px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background: #2ab27b;
  font-weight: bold;
  font-size: 22px;
  padding: 10px;
  color: #fff;
  border-radius: 3%;
}
