.header {
  border-bottom: 1px solid #e7e7e7;
}

.navbar {
  float: right;
  width: 200px;
  margin: 5px 10px 10px 0;
}

.modal-button {
  float: right;
  font-family: "Lucida Grande", sans-serif;
  border: 2px solid #666f77;
  border-radius: 10%;
  padding: 8px 10px 10px 10px;
}

.header h1 {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Lato',sans-serif;
  color: #2c3239;
  float: left;
  margin: 11px 0 0 16px;


}

.group:after {
  content: "";
  clear: both;
  display: block;
}
