.message-container {
  display: block;
  border: 1px solid green;
  float: left;
  margin-left: 220px;
  color: #fff;
  // width: calc(100%-50px);
  // height: 100vh;
  max-height: 100vh;
  // background: #fff;
  padding-bottom: 65px;
}

.messages {
  position: absolute;
  display: block;
  width: calc(100% - 225px);
  overflow-y: auto;
  max-height: calc(100% - 65px);
  margin-bottom: 65px;
  margin-left: 72px;
}

.message {
  display: block;
  width: 100%;
}

.chat-submit {
  display: none;
}

.message-input {
  display: block;
  color: #000;
  background: #fff;
  border: 2px solid #E0E0E0;
  position: absolute;
  bottom: 16px;
  left: 242px;
  width: calc(100% - 325px);
  padding: 9px 40px 9px 8px;
  border-radius: 0 6px 6px 0;
  margin-right: 16px
}

// .messages::-webkit-scrollbar-track {
//   background-color: rgba(#fff, .3);
//
//   outline: 3px solid slategrey;
// }
