.message-container {
  border: 1px solid green;
  float: left;
  margin-left: 210px;
  color: #fff;
  width: 100%;
  height: 100vh;
}

.message-input {
  color: #000;
  background: #fff;
  border: 1px solid green;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
