.messages-container {
  display: block;
  float: left;
  margin-left: 220px;
  color: #000000;
  // width: calc(100%-50px);
  // height: 100vh;
  height: calc(100vh - 64px);
  background: #ffffff;
  padding-bottom: 65px;
  width: calc(100% - 221px);
  margin-top: 18px;
}

.messages {

  position: absolute;
  display: block;
  width: calc(100% - 221px);
  overflow-y: auto;
  max-height: calc(100% - 143px);
  margin-bottom: 65px;
  margin-top: 72px;
  box-sizing: border-box;
  border-top: 1px solid #e8e8e8;
}

.message-container {
  margin-top: 1px;
  font-family: "Slack-Lato", sans-serif;
  line-height: 1.375rem;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

$red: random(256)-1;
$green: random(256)-1;
$blue: random(256)-1;

.message-icon {
  display: block;
  float: left;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  margin-left: 26px;
  line-height: 36px;
  font-size: 20px;
  border-radius: 3px;
  background: rgb($red, $green, $blue);
}

.message-icon img {
  width: 36px;
  height: 36px;
}

.author-time-message-container {
  display: block;
}

.author-time-container {
  display: block;
}
.message-author {
  display: block;
  font-weight: bold;
  float: left;
  margin-right: 4px;
  text-transform: capitalize;
}

.message-time {
  display: block;
  font-size: .75rem;
  color: #9e9ea6;
}

.message {
  display: block;
  line-height: 1.6rem;
  text-align: justify;
  margin-left: 73px
}


.chat-submit {
  display: none;
}

.message-input {
  display: block;
  color: #000;
  background: #fff;
  border: 2px solid #E0E0E0;
  position: absolute;
  bottom: 16px;
  left: 242px;
  width: calc(100% - 350px);
  padding: 9px 40px 9px 8px;
  border-radius: 6px 6px 6px 6px;
  margin-right: 16px;
  font-family: "Slack-Lato", sans-serif;
}

.messages::-webkit-scrollbar {
  background: rgba(#fff, .0);
}

.messages::-webkit-scrollbar-thumb {
  background-color: rgba(#ccc, .5);
  border-radius: 8px;
}

.voice-icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  opacity: .5;
}

.voice-icon img {
  height: 29px;
  width: 29px;
}
