// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  background-image: image-url("Modern-Black-Wallpaper.jpg");
  // background: no-repeat center/100% url("ultimate-4k-dump-and-cats-3840x2160.jpg")
  // background: #ffffff;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  height: 100vh;
  overflow-y: hidden;
}
